/* Show it is fixed to the top */
.body_style {
  padding-top: 3.5rem;
}
main {
  margin: 0.5rem;
}

.extend_background {
  height: 40rem;
}

.card_body {
  max-width: 22rem;
  min-height: 14rem;
}

.add_note {
  width: 4rem;
}

.add_category {
  width: 14.3rem;
}

.add_note_form {
  width: 21rem;
  margin-left: -21rem;
}
