{% extends 'base.html' %} {% block title %}Modify category{% endblock %} {%
block main %}
<div
  class="extend_background modal modal-signin position-static d-block bg-secondary pt-1"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_category') }}">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Modify</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="modal-header pb-4 border-bottom-0 justify-content-center">
            <h5 class="fw-bold mb-0">Select category to modify:</h5>
          </div>
          <div class="modal-body p-5 pt-0">
            <form method="POST" action="{{ url_for('modify_category') }}">
              {{ form_modify_category.hidden_tag() }}
              <div
                class="form-group text-start d-flex no-wrap align-items-center mb-2"
              >
                {{ form_modify_category.category(class="form-control
                form-control-lg") }}
                <p class="mb-0">
                  {{ form_modify_category.select_category(class="w-40 btn
                  btn-primary mb-0 mt-0 ms-2") }}
                </p>
              </div>
              {% for category in categories %} {% if selected_category_id ==
              category.id %}
              <div class="form-group text-start mb-2">
                {{
                form_modify_category.new_title.label(class="form-control-label")
                }} {% if form_modify_category.new_title.errors %} {{
                form_modify_category.new_title(class="form-control
                form-control-lg is-invalid", value=category.title) }}
                <div class="invalid-feedback text-start">
                  {% for error in form_modify_category.new_title.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form_modify_category.new_title(class="form-control
                form-control-lg", value=category.title) }} {% endif %}
              </div>
              <div
                class="form-group text-start d-flex flex-row justify-content-between"
              >
                {{
                form_modify_category.submit_modified_category_data(class="mt-2
                w-40 btn btn-primary") }} {# for keeping delete button style #}
                <div class="dropdown">
                  <form
                    class="dropdown-menu p-4"
                    style="width: 9rem"
                    method="POST"
                    action="{{ url_for('base') }} "
                  ></form>
                </div>
                <div class="dropdown">
                  <button
                    type="button"
                    class="mt-2 w-40 btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                  >
                    Delete
                  </button>
                  <div class="dropdown-menu p-4" style="width: 9rem">
                    <div class="d-flex flex-row justify-content-between">
                      {{ form_modify_category.delete(class="btn btn-danger") }}
                      <button class="btn btn-primary">No</button>
                      <input
                        type="hidden"
                        name="category_id"
                        value="{{ category.id }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
