{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block
main%}
<div
  class="modal modal-signin position-static d-block bg-secondary py-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Creat account</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        <form method="POST" action="{{ url_for('register') }}">
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3">
            {% if form.name.errors %} {{ form.name(class="form-control rounded-3
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.name(class="form-control rounded-3") }} {% endif
            %} {{ form.name.label }}
          </div>
          <div class="form-floating mb-3">
            {% if form.email.errors %} {{ form.email(class="form-control
            rounded-3 is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control rounded-3") }} {% endif
            %} {{ form.email.label }}
          </div>
          <div class="form-floating mb-3">
            {% if form.password.errors %} {{ form.password(class="form-control
            rounded-3 is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.password(class="form-control rounded-3") }} {%
            endif %} {{ form.password.label }}
          </div>
          <div class="form-floating mb-3">
            {% if form.verified_password.errors %} {{
            form.verified_password(class="form-control rounded-3 is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.verified_password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.verified_password(class="form-control
            rounded-3")}} {% endif %} {{ form.verified_password.label }}
          </div>
          <div class="form-group text-center">
            {{ form.submit(class="w-90 mb-2 btn btn-lg rounded-3 btn-primary")
            }}
          </div>
        </form>
        <div class="form-group text-center">
          <a href="{{ url_for('login') }}" class="text-muted pb-5"
            >Already have an account? Sign in here.</a
          >
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
